<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 마이바티스 설정과 관련된 태그 -->
	<settings>
		<!-- 만약에 Null 값이 들어온다면 DB에서도
		    Null 이라고 받아라! -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<!-- 마이바티스에서 사용하기 위한 
	    VO 클래스의 별칭을 정의하는 태그 -->
	<typeAliases>
		<!-- 
			<typeAlias type="실제 VO객체" alias="mybatis에서 사용할 클래스 별칭">
		 -->		 
		
		 <typeAlias type="com.kh.meetAgain.board.model.vo.Board" alias="Board"/>
		 <typeAlias type="com.kh.meetAgain.member.model.vo.Member" alias="Member"/>
		 <typeAlias type="com.kh.meetAgain.common.Str2ArrayHandler" alias="Str2ArrayHandler"/>
		 <typeAlias type="com.kh.meetAgain.sgroup.model.vo.Sgroup" alias="Sgroup" />
		 <typeAlias type="com.kh.meetAgain.sgroup.model.vo.Gboard" alias="Gboard"/>
		 <typeAlias type="com.kh.meetAgain.member.model.vo.UserTMI" alias="UserTMI"/>
		 <typeAlias type="com.kh.meetAgain.member.model.vo.CateInfo" alias="CateInfo"/>
		 <typeAlias type="com.kh.meetAgain.member.model.vo.Category" alias="Category"/>
		 <typeAlias type="com.kh.meetAgain.myPage.model.vo.Follow" alias="Follow"/>
		 <typeAlias type="com.kh.meetAgain.sgroup.model.vo.Calendar" alias="Calendar"/>
		 <typeAlias type="com.kh.meetAgain.admin.model.vo.Report" alias="Report"/>
		 <typeAlias type="com.kh.meetAgain.sgroup.model.vo.Joing" alias="Joing" />
		 <typeAlias type="com.kh.meetAgain.sgroup.model.vo.GbComment" alias="GbComment" />
	</typeAliases>	
	
	<!-- 문자열과 배열을 치환해주는 객체 -->
	
	<!-- <typeHandlers>
		특정 타입을 변경해주는 typeHandler 등록 태그
		<package name="com.kh.meetAgain,common"/>
	</typeHandlers> -->
	
</configuration>










