<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">

<select id="selectBoardList" resultType="Report">
	SELECT R.RCID, GTITLE, GBTITLE, R.RCINFO, M.NICKNAME, R.STMT FROM REPORT R
	JOIN MEMBER M ON(R.USERID=M.USERID)	JOIN GBOARD USING(GBID) 
	JOIN SGROUP USING(GID) WHERE RCTYPE=1 ORDER BY STMT, RCID
</select>
<select id="selectBoardTotalContent" resultType="_int">
	SELECT COUNT(*) FROM REPORT WHERE RCTYPE=1
</select>
<select id="selectOneBoard" parameterType="_int" resultType="Report">
	SELECT GTITLE, M.NICKNAME "tnickName", R.RCINFO, M2.NICKNAME, GBTITLE, R.RCCONTENT
	FROM REPORT R JOIN MEMBER M ON(R.TARGETID=M.USERID)
	JOIN MEMBER M2 ON(R.USERID=M2.USERID) JOIN GBOARD USING(GBID) 
	JOIN SGROUP USING(GID) WHERE RCID=#{rcId}
</select>
<select id="selectCommentList" resultType="Report">
	SELECT RCID, CCONTENT, M.NICKNAME "tnickName", RCINFO, M2.NICKNAME, STMT FROM REPORT R
	JOIN MEMBER M ON(R.TARGETID=M.USERID) JOIN MEMBER M2 ON(R.USERID=M2.USERID)
	JOIN GB_COMMENT USING(CID) WHERE RCTYPE=2 ORDER BY STMT, RCID
</select>
<select id="selectCommentTotalContent" resultType="_int">
	SELECT COUNT(*) FROM REPORT WHERE RCTYPE=2
</select>
<select id="selectOneComment" parameterType="_int" resultType="Report">
	SELECT GBTITLE, M.NICKNAME "tnickName", RCINFO, M2.NICKNAME, R.RCCONTENT, GC.CCONTENT
	FROM REPORT R JOIN MEMBER M ON(R.TARGETID=M.USERID)
	JOIN MEMBER M2 ON(R.USERID=M2.USERID) JOIN GB_COMMENT GC USING(CID)
	JOIN GBOARD G ON(R.GBID = G.GBID) JOIN SGROUP S ON(G.GID=S.GID) WHERE RCID=#{rcId}
</select>
</mapper>