<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapMapper">

	<resultMap type="Joing" id="resM">		
		
		<result column="USERID" property="userId" />
		
	</resultMap>

	<select id="getMyPlace" parameterType="string" resultType="Sgroup">
		SELECT GID, GPLACE FROM SGROUP WHERE GID = #{gId}
	</select>
	
	<select id="meetingPlaceMasterStatus" parameterType="map" resultMap="resM" >		
		SELECT * FROM JOING WHERE GID = #{gId} AND USERID = #{userId} AND ISCPT = #{isCpt}
	</select>
	
	<select id="getMasterStatus" parameterType="string" resultType="Joing">
		SELECT GID, ISCPT, USERID FROM JOING WHERE GID = #{gId} AND USERID = #{userId} AND ISCPT = #{isCpt}
	</select>
	
	<select id="getMaster" parameterType="string" resultType="Joing">
		SELECT ISCPT FROM JOING WHERE ISCPT = 'Y'
	</select>
	
	<update id="groupMapUpdate" parameterType="Sgroup">
		UPDATE SGROUP
			<set>
				GPLACE = #{gPlace}	
			</set>
		WHERE GID = #{gId}
	</update>
	
</mapper>