<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<select id="checkNnDuplicate" parameterType="hashmap"
		statementType="CALLABLE">
		{ CALL NN_DUP_CHK(
		#{nickName, mode=IN, jdbcType=VARCHAR},
		#{result, mode=OUT, jdbcType=NUMERIC, javaType=integer} )
		}
	</select>

	<update id="mUpdate" parameterType="Member">
		UPDATE MEMBER SET
		ADDRESS1=#{address1}, ADDRESS2=#{address2}, ADDRESS3=#{address3}, NICKNAME=#{nickName},
		PHONE=#{phone}
		WHERE USERID=#{userId}
	</update>

	<select id="selectOne" parameterType="string" resultType="Member">
		SELECT * FROM MEMBER WHERE USERID = #{userId}
	</select>

	<update id="mTMIUpdate" parameterType="UserTMI">
		UPDATE USERTMI SET
		BLOOD=#{blood}, MBTI=#{mbti}, KEYWORD=#{keyword}, USERIMG=#{userImg}
		WHERE USERID=#{userId}
	</update>

	<insert id="mCateUpdate" parameterType="hashmap">

		INSERT INTO CATEINFO VALUES(#{userId}, #{cateId})

	</insert>
	<delete id="mCateDelete" parameterType="string">
		DELETE FROM CATEINFO WHERE USERID=#{userId}
	</delete>

	<select id="selectOneTMI" parameterType="string"
		resultType="UserTMI">
		SELECT * FROM USERTMI JOIN MEMBER USING(USERID) WHERE
		USERID=#{userId}
	</select>

	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER VALUES(#{userId}, #{userName}, #{address1}, DEFAULT,
		DEFAULT,
		#{nickName}, #{birthday}, #{gender}, #{email}, #{phone}, DEFAULT, DEFAULT,
		DEFAULT,
		DEFAULT, DEFAULT, DEFAULT,DEFAULT, DEFAULT)
	</insert>
	<insert id="insertTmi" parameterType="Member">
		INSERT INTO USERTMI VALUES(#{userId}, DEFAULT, DEFAULT, DEFAULT, DEFAULT)

	</insert>


	<select id="selectCateInfo" parameterType="string"
		resultType="CateInfo">
		SELECT * FROM CATEINFO WHERE USERID = #{userId}
	</select>

	<select id="checkNnDuplicate2" parameterType="hashmap"
		resultType="_int">
		SELECT COUNT(*) FROM MEMBER WHERE NICKNAME=#{nickName} AND
		EMAIL!=#{email}
	</select>

	
	<select id="selectAdmin" parameterType="hashmap" resultType="_int">
		SELECT COUNT(*) FROM MEMBER WHERE USERID=#{adminId} AND BIRTHDAY=#{adminBirthday} AND EMAIL=#{adminEmail}
	</select>

	<select id="selectOneAdmin" parameterType="hashmap" resultType="Member">
		SELECT * FROM MEMBER WHERE USERID=#{adminId} AND BIRTHDAY=#{adminBirthday} AND EMAIL=#{adminEmail}
	</select>

	<update id="memberOut" parameterType="hashmap" statementType="CALLABLE">
	{ CALL DEL_USERINFO(
		#{userId, mode=IN, jdbcType=VARCHAR},
		#{result, mode=OUT, jdbcType=NUMERIC, javaType=integer} )
		}
	</update>

	<delete id="delUserInfo" parameterType="hashmap" statementType="CALLABLE">
	{ CALL DEL_USER(
		#{userId, mode=IN, jdbcType=VARCHAR},
		#{result, mode=OUT, jdbcType=NUMERIC, javaType=integer} )
		}
	</delete>
	
	<update id="imgUpdate" parameterType="hashmap">
		UPDATE USERTMI SET USERIMG=#{userImg} WHERE USERID=#{userId}
	</update>

</mapper>