<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myPageMapper">

<resultMap type="Sgroup" id="sgroupMap">
		<id property="gId" column="GID" />
		<result property="cateId" column="CATE_ID" />
		<result property="limitGroup" column="LIMITGROUP" typeHandler="Str2ArrayHandler"/>
	</resultMap>
	
	<select id="selectMyBoardList" resultType="Gboard">
		SELECT GBID, GTITLE, GID, GBTITLE, GBRATE, GBDATE, GBDEL FROM GBOARD 
		JOIN SGROUP USING(GID) WHERE USERID=#{userId} AND GBDEL='N' ORDER BY GBDATE DESC
	</select>

	<select id="selectMyBoardTotalContent" resultType="_int">
		SELECT COUNT(*) FROM GBOARD WHERE USERID=#{userId}
	</select>

	<select id="totalFollowing" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM FOLLOW WHERE FOLLOWER = #{userId}
	</select>
	<select id="totalFollower" resultType="_int">
		SELECT COUNT(*) FROM FOLLOW WHERE FOLLOWIN = #{userId}
	</select>
	<select id="totalGroup" resultType="_int">
		SELECT COUNT(*) FROM JOING WHERE USERID = #{userId}
	</select>
	<select id="selectUserTMI" resultType = "UserTMI">
		SELECT * FROM USERTMI WHERE USERID = #{userId}
	</select>
	
	<select id="selectFollowerList" resultType="Follow">
		SELECT M.NICKNAME, M.USERID FROM FOLLOW JOIN MEMBER M ON(FOLLOWER = M.USERID) WHERE FOLLOWIN=#{userId}
	</select>
	
	<select id="selectFollowingList" resultType="Follow">
		SELECT M.NICKNAME, M.USERID FROM FOLLOW JOIN MEMBER M ON(FOLLOWIN = M.USERID) WHERE FOLLOWER=#{userId}
	</select>
	
	<select id="getMyGroup" resultMap="sgroupMap">
		SELECT * FROM SGROUP JOIN JOING USING(GID) WHERE USERID = #{userId} AND ISLEAVE='N' AND ISOUT='N'
	</select>
	
	<select id="getCreateGroup"  resultMap="sgroupMap">
		SELECT * FROM SGROUP JOIN JOING USING(GID) WHERE USERID = #{userId} AND ISCPT='Y'
	</select>
	
	<select id="selectFollowYN" parameterType="hashmap" resultType="_int">
		SELECT COUNT(*) FROM FOLLOW WHERE FOLLOWER=#{muserId} AND FOLLOWIN=#{userId}
	</select>
	
	<insert id="insertFollow" parameterType="hashmap">
		INSERT INTO FOLLOW VALUES(#{muserId}, #{userId})
	</insert>
	
	<delete id="deleteFollow" parameterType="hashmap">
		DELETE FROM FOLLOW WHERE FOLLOWER=#{muserId} AND FOLLOWIN=#{userId}
	</delete>
	
	<insert id="insertReview" parameterType="Review">
		INSERT INTO REVIEW VALUES(SEQ_RVID.NEXTVAL, #{userId}, #{gId}, #{rvContent}, #{rvImage}, #{rvStar}, 0)
	</insert>
	
	<select id="selectReview" parameterType="hashmap" resultType="Review">
		SELECT * FROM REVIEW WHERE USERID= #{userid} AND GID= #{gid}
	</select>
</mapper>