<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sgroupMapper">
	<resultMap type="Sgroup" id="sgroupMap">
		<id property="gId" column="GID" />
		<result property="cateId" column="CATE_ID" />
		<result property="limitGroup" column="LIMITGROUP"
			typeHandler="Str2ArrayHandler" />
	</resultMap>

	<insert id="insertSgroup" parameterType="Sgroup">
		INSERT ALL INTO SGROUP(GID, CATE_ID, GTITLE, GIMG, GINTRO, CREATEDATE,
		MAXNUM, CHARGE, GFEE, GPLACE, GTYPE, DURATE, ISFIN, GPWD, JOINTYPE,
		LIMITGROUP)
		VALUES(SEQ_GID.NEXTVAL, #{cateId}, #{gTitle}, #{gImg}, #{gIntro}, DEFAULT, #{maxNum},
		#{charge}, #{gFee}, #{gPlace},
		#{gType}, #{durate}, DEFAULT, #{gPwd}, #{joinType}, #{limitGroup,
		typeHandler=Str2ArrayHandler})

		INTO JOING(USERID, GID, ISCPT, ISREADY, ISOUT, ISLEAVE)
		VALUES(#{userId}, SEQ_GID.CURRVAL, 'Y',

		<choose>
			<when test="joinType.equals('C')">
				2,
			</when>
			<otherwise>
				1,
			</otherwise>
		</choose>
		DEFAULT, DEFAULT)
		SELECT * FROM DUAL
	</insert>

	<!-- <select id="selectListSgroup" resultMap="sgroupMap"> SELECT * FROM 
		SGROUP </select> <select id="selectOneSgroup" parameterType="_string" resultMap="sgroupMap"> 
		SELECT * FROM SGROUP WHERE GID = #{gId} </select> -->

	<resultMap type="Gboard" id="gboardMap">
		<result property="gbId" column="GBID" />
		<result property="gbTitle" column="GBTITLE" />
		<result property="gbContent" column="GBCONTENT"></result>
	</resultMap>

	<insert id="insertgBoard">
		INSERT INTO GBOARD
		VALUES
		(SEQ_GBID.NEXTVAL, '1', '1', #{gbTitle}, #{gbContent}, DEFAULT, DEFAULT, DEFAULT,
		DEFAULT, DEFAULT)
		<!-- 전달한 board객체의 boardNo 프로퍼티에 결과값을 담는다. -->
		<selectKey keyProperty="gbId" resultType="_int"
			order="AFTER">
			SELECT SEQ_GBID.CURRVAL FROM DUAL
		</selectKey>
	</insert>





	<select id="selectgBoardList" resultType="Gboard">
		SELECT GBID, NICKNAME,
		GBTITLE, GBRATE, GBDATE
		FROM GBOARD JOIN MEMBER USING(USERID) ORDER BY
		GBID DESC
	</select>

	<select id="selectgBoardTotalContent" resultType="_int">
		SELECT COUNT(*)
		FROM GBOARD
	</select>

	<select id="selectOnegBoard" parameterType="_int"
		resultType="Gboard">
		SELECT * FROM GBOARD WHERE GBID=#{gbId}
	</select>

	<update id="updategBoard" parameterType="Gboard">
		UPDATE GBOARD SET
		GBTITLE = #{gbTitle}, GBCONTENT=#{gbContent} WHERE GBID=#{gbId}
	</update>

	<update id="updateReadCount" parameterType="_int">
		UPDATE GBOARD SET
		GBRATE = GBRATE+1 WHERE GBID=#{gbId}
	</update>

	<delete id="deletegBoard" parameterType="_int">
		DELETE FROM GBOARD
		WHERE GBID = #{gbId}
	</delete>

</mapper>